body {
  height: 100vh;
  background-color: black;
  margin: 0;
}
span {
  background: url(https://cdn1.iconfinder.com/data/icons/google-s-logo/150/Google_Icons-12-64.png);

  height: 100px;
  width: 100px;


  background-position: center center;
  background-size: cover;
  /* center center/cover */
  /* display: flex;
  align-items: center;
  justify-content: center; */
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  /* use position :absolute or fixed,and transform: translate: (-50%,-50%); to center the element exactly */
  pointer-events: none;
 animation: animation 5s linear;

}

@keyframes animation  {

  0%{
    transform: translate(-50%,-50%);
    opacity: 1;

  }

  100%{
    transform: translate(-50%,-50%);

  }

  
}
